html{
  font-family: sans-serif;
  color: grey;
}

/*NAVIGATION*/

nav{
  padding: 0px 24px;
  height: 64px;
  border: 10px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.links span{
  margin-left: 16px;
}

/*BANNER*/

.banner{
  border: 10px solid blue;
}

/*CAMPUS INFO*/
.campusinfo{
  border: 10px solid orange;
}

/*PROGRAM INFORMATION*/
.programinfo{
  border: 10px solid purple;
}

/*THESIS EXHIBIT*/
.thesisexhibit{
  border: 10px solid black;
}

footer{
  padding-top: 16px;
  padding-right: 24px;
  padding-left: 24px;
  display: flex;
  justify-content: space-between;
}

.terms span{
  padding-top: 16px;
  display: inline-flex;
  justify-content: space-between;
}
