html{
  font-family: sans-serif;
  color: black;
}

/*NAVIGATION*/

nav{
  padding: 0px 24px;
  height: 64px;
  border: 10px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.links span{
  margin-left: 16px;
}

/*BANNER*/

.banner{
  border: 10px solid blue;
  color: charcoal;
  background-color: grey;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bannerpic{
  width: 60%;
  margin: 32px 24px;
}

.bannertext{
  display: flex;
  flex-direction: column;
}

.bannerbutton{
  margin-top: 32px;
  border: 10px solid pink;
  height: 24px;
  width: 500px;
  color:white;
  /*background-color: ; NEED TO FIND A DRK GRY*/
  display: flex;
  align-items: center;
  justify-content: center;
}

/*CAMPUS INFO*/
.campusinfo{
  border: 10px solid orange;
}

/*PROGRAM INFORMATION*/
.programinfo{
  border: 10px solid purple;
}

/*THESIS EXHIBIT*/
.thesisexhibit{
  border: 10px solid black;
}

footer{
  padding-top: 16px;
  padding-right: 24px;
  padding-left: 24px;
  display: flex;
  justify-content: space-between;
}

.terms span{
  padding-top: 16px;
  display: inline-flex;
  justify-content: space-between;
}
